<div class="container">
    <div class="neon">My </div>
    <div class="flux">Movie </div>
</div>
<div class="media">
    <img src="https://www.flaticon.com/svg/static/icons/svg/2798/2798024.svg" class="mr-3" width="400" height="400" he>
    <div class="media-body">
      <h1 class="mt-0">¿No sabes qué película ver?</h1>
      <br>
      <h3>Escoge un género y por distintos criterios te daremos la mejor recomendación </h3>
      <h3>para que la disfrutes!</h3>
      <br>
      <h3><a [routerLink]="['recommendation-filter']" routerLinkActive="active">Aquí puedes ir a la sección de recomendaciones</a></h3>
      <br>
    </div>
  </div>
  <div class="media">
    <div class="media-body" style="padding-left:40px">
      <h1 class="mt-0 mb-1" >Busca tu película favorita</h1>
      <br>
      <h3>Escribe el nombre o parte del nombre de tu película favorita y accede a su perfil</h3>
      <h3>donde puedes ver lo que opina la comunidad</h3>
      <br>
      <h3>También puedes dejar tu propia reseña sobre la película</h3>
      <br>
      <h3><a [routerLink]="['busqueda']" routerLinkActive="active">Aquí puedes buscar tus películas favoritas</a></h3>
    </div>
    <img src="https://www.flaticon.com/svg/static/icons/svg/3309/3309932.svg" class="ml-3" width="400" height="400">
  </div>
  <div class="media">
    <img src="https://www.flaticon.es/svg/static/icons/svg/2472/2472222.svg" class="mr-3" width="400" height="400" he>
    <div class="media-body">
      <h1 class="mt-0">¿No está tu película favorita?</h1>
      <br>
      <h3>Ayuda a nuestra plataforma a crecer ingresando tus películas favoritas</h3>
      <br>
      <h3><a [routerLink]="['nuevaPeli']" routerLinkActive="active">Aquí puedes añadir la película que desees</a></h3>
      <br>
    </div>
  </div>
