/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
  font-family: 'Oswald', sans-serif;
  background-color: #141414;
}
a:link {
  color: rgb(218, 81, 18);
}

a:visited {
  color: rgb(218, 81, 18);
}
a:hover {
  color: rgb(230, 194, 77);
}
