.scorebox {
  margin-bottom: 10px;
  width: 80px;
  height: 80px;
  vertical-align: middle;
}

.bad-score {
  color: white;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
  height:
    100%;
  background-color: rgb(241, 59, 59);
}

.notsobad-score {
  color: white;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
  height: 100%;
  background-color: rgb(240, 167, 31);
}

.medium-score {
  color: white;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
  height: 100%;
  background-color: rgb(236, 236, 40);
}

.notsogood-score {
  color: white;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
  height: 100%;
  background-color: #dbe91e;
}

.good-score {
  color: white;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
  height: 100%;
  background-color: yellowgreen;
}

.great-score {
  color: white;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
  height: 100%;
  background-color: rgb(53, 182, 53);
}

.tbad-score {
  color: rgb(241, 59, 59);
}

.tnotsobad-score {
  color: rgb(240, 167, 31);
}

.tmedium-score {
  color: rgb(236, 236, 40);
}

.tnotsogood-score {
  color: #dbe91e;
}

.tgood-score {
  color: yellowgreen;
}

.tgreat-score {
  color: rgb(53, 182, 53);
}

.media {
  margin-left: 70px;
  margin-right: 70px;
}

.mediabody {
  margin-left: 30px;
}

.leftbox {
  float: left;
  margin-right: 70px;
}

.rightbox {
  float: left;
  margin-left: 50px;
}

.secondscore {
  float: left;
  margin-right: 40px;
}

.favorite {
  margin-bottom: 30px;
}

.commentsection {
  text-align: center;
  margin-top: 20px;
  color: rgb(218, 81, 18);
}

.tbody {
  overflow-y: scroll;
}

.nocomment {
  text-align: center;
  margin-top: 20px;
}

.movietitle {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(218, 81, 18);
}

.stable {
  position: relative;
  height: 400px;
  overflow-y: auto;
  }
.scrollable{
  color: white;
}
.stable thead th {
  position: sticky; 
  top: 0; 
  }
.media{
  color: white;
}