<section><h1 style="text-align: center; margin-top: 20px; margin-bottom: 20px">Nombre peli</h1></section>

<div class="media" style="margin-left: 50px; margin-right: 50px">
    <img src="..." class="align-self-start mr-3" height="500" width="400">
    <div class="media-body">
      <h4>Calificacion de la comunidad</h4>
      <h3> &#11088; 10/10</h3>
      <h5>IMDb</h5>
      <h4>9.5</h4>
      <h5>Metascore</h5>
      <h4>9.3</h4>
      <h6>Director:</h6>
      <h6>Nolan</h6>
      <h6>Año</h6>
      <h6>2010</h6>
      <h6>Genero</h6>
      <h6>Accion</h6>
    </div>
  </div>
