<h2 class="center">Busca tus peliculas favoritas</h2>

<div class="input-group mb-3">
    <div class="input-group-prepend">
      <button class="btn btn-dark" id="moviebtn" [disabled]="name==null || name.length<4" type="button" (click)="searchMovie()" >Buscar</button>
    </div>
    <input type="text" class="form-control" placeholder="Escribe el nombre de la pelicula" (keyup.enter)="searchMovie()" aria-describedby="basic-addon1" [(ngModel)]="name" required>
  </div>
<ng-container>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th></th>
                <th>Nombre</th>
                <th>Director</th>
                <th>Año</th>
                <th>Nota de la comunidad</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movie of movies">
                <td></td>
                <td><a [routerLink]="['../movie', movie.idPelicula]" routerLinkActive="active">{{movie.nombrePelicula}}</a></td>
                <td>{{movie.director}}</td>
                <td>{{movie.anoPelicula}}</td>
                <td>{{movie.notaComunidad}}</td>
            </tr>
        </tbody>
    </table>
</ng-container>