<div class="contaniner-xl">
  <div class="jumbotron jumbotron-fluid rounded" id="jumboAD">
      <div class="container">
        <h1 class="display-1">Buscar Película</h1>
        <p class="h3">Busca tu pelicula favorita</p>
        <p class="h5">Mira lo que opina nuestra comunidad</p>
        <p class="lead"> Y deja tu propia reseña ;)</p>
        <br>
        <hr class="my-4">
        <blockquote class="blockquote text-center">
          <p class="mb-0">I Always Tell The Truth. Even When I Lie.</p>
          <footer class="blockquote-footer">Tony Montana, <cite title="Source Title">Scarface</cite></footer>
        </blockquote>
      </div>
    </div>
</div>
<h1 class="center">Introduce el nombre de la película a buscar</h1>
<div class="input-group mb-3">
    <div class="input-group-prepend">
      <button class="btn btn-dark" id="moviebtn" [disabled]="name==null || name.length<4" type="button" (click)="searchMovie()" >Buscar</button>
    </div>
    <input type="text" class="form-control" placeholder="Escribe el nombre de la pelicula" (keyup.enter)="searchMovie()" aria-describedby="basic-addon1" [(ngModel)]="name" required>
  </div>
<ng-container>
  <p class="center">Los resultados se mostrarán aquí abajo</p>
  <div *ngIf="loading==true" class="text-center">
    <div class="spinner-border text-light" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="stable">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th></th>
                <th>Nombre</th>
                <th>Director</th>
                <th>Año</th>
                <th>Nota de la comunidad</th>
            </tr>
        </thead>
        <tbody class="scrollable">
            <tr *ngFor="let movie of movies">
                <td></td>
                <td><a [routerLink]="['../pelicula', movie.idPelicula]" routerLinkActive="active">{{movie.nombrePelicula}}</a></td>
                <td>{{movie.director}}</td>
                <td>{{movie.anoPelicula}}</td>
                <td>{{movie.notaComunidad}}</td>
            </tr>
        </tbody>
    </table>
  </div>
    
</ng-container>