<div class="jumbotron text-center">
    <h1>Recomendación por filtros</h1>
    <p>Ingresa los valores de los filtros a continuación</p>
</div>

<div class="container" style="margin-left: 0%;">
    <div class="row">
      <div class="col-sm-4">
        <h2>Filtros</h2>
        <label for="">Género: </label>
        <select name="" id="" class="form-control" [(ngModel)] = "genero">
          <option [value]="gen.idGenero" *ngFor = "let gen of generos" >{{ gen.genero1 }}</option>
        </select>
        <h5>Categorias:</h5>
        <label for="">Nota IMDB:</label>
        <input class="form-control" type="number" min="0" max="100" [(ngModel)] = "imdb" (ngModelChange)="calculateTotal(imdb)" required>
        <label for="">Nota MetaScore:</label>
        <input class="form-control" type="number" min="0" [(ngModel)] = "metascore" (ngModelChange)="calculateTotal(metascore)" max="100" required>
        <label for="">Nota de Comunidad:</label>
        <input class="form-control" type="number" min="0" [(ngModel)] = "community" (ngModelChange)="calculateTotal(community)" max="100" required>
        <label for="">Favorita de la plataforma:</label>
        <input class="form-control" type="number" min="0" [(ngModel)] = "platform" (ngModelChange)="calculateTotal(platform)" max="100" required>
        <label for="">Índice de Popularidad:</label>
        <input class="form-control" type="number" min="0" [(ngModel)] = "popularity" (ngModelChange)="calculateTotal(popularity)" max="100" required>
        <div>
          <label for="" *ngIf="goodT != -1" style="color: red;">La suma de categorias debe ser 100</label>
          <label for="" *ngIf="goodF != -1" style="color: red;">Resuelve el problema primero</label>
        </div>
        <button color="primary" class="btn btn-dark" (click)="filter()">Filtrar</button>
      </div>
      <div class="col-lg-8 col-sm-8" style="margin-right: 0%;">
        <div class="row" *ngFor = "let pel of peliculas">
            <img class="col-lg-4" src="{{ pel.imagen }}" alt="Card image" width="20" height="120">
            <div class="col-lg-6">
                <h5 >{{ pel.nombrePelicula }}</h5>
                <p >Calificación: {{ pel.total }}</p>
            </div>
        </div>
      </div>
    </div>
</div>